# .gitignore

# Dependencies
node_modules

# Code coverage
coverage

# Compiled output
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs config
.idea
.vscode/*
jsconfig.json
.DS_store
.eslintcache
